body {
    background-color: black;
    color: white;
}
.EFS {
    background-color: rgb(30, 27, 185);
    color: rgb(255, 255, 255)
}
div {
    background-color: black;
    color: white;
}
th {
    color: white;
}
td {
    color: white;
}
button {
    color: white;
}